---
required_plugins:
    - vagrant-hostmanager
    - vagrant-puppet-install
nodes:
    - name: jenkins
      hostname: jenkins.cicd.vagrant
      box: bento/centos-7.9
      ip: 192.168.48.42
    - name: slave01
      hostname: slave01.cicd.vagrant
      box: bento/centos-7.9
      ip: 192.168.48.43
    - name: nexus
      hostname: nexus.cicd.vagrant
      box: bento/centos-7.9
      ip: 192.168.48.44
puppet_version: 6.25.0
virtualbox_group: '/Vagrant/cicd'
